<div class="py-4">
  <div class="title text-center">BRAND NAME</div>
</div>
<div class="d-flex justify-content-center">
  <div *ngIf="showLogin" class="card shadow col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
    <div class="card-body">
      <div style="font-size: 18px; margin: 24px 0" class="text-center">
        Sign in
      </div>
      <form [formGroup]="formLogin" (ngSubmit)="supmitLogin()">
        <div class="form-group mt-2">
          <label for="id">id</label>
          <input formControlName="id" id="id" type="text" class="form-control">
        </div>
        <div class="form-group mt-2">
          <label for="password">password</label>
          <input formControlName="password" id="password" type="text" class="form-control">
        </div>
        <div class="container">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div class="mt-5">
        <p v-show="showLogin" class="text-center">
          Don't have an account?
          <a class="text-success" (click)="show()">Register here</a>
        </p>
      </div>
    </div>
  </div>
  
  <div *ngIf="!showLogin" class="card shadow col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
    <div class="card-body">
      <div style="font-size: 18px; margin: 24px 0" class="text-center">
        Sign in
      </div>
      <form [formGroup]="formRegister" (ngSubmit)="supmitRegister()">
        <div class="form-group mt-2">
          <label for="username">Username</label>
          <input formControlName="username" id="username" type="text" class="form-control">
        </div>
        <div class="form-group mt-2">
          <label for="email">Email</label>
          <input formControlName="email" id="email" type="text" class="form-control">
        </div>
        <div class="form-group mt-2">
          <label for="password">Password</label>
          <input formControlName="password" id="password" type="text" class="form-control">
        </div>
        <!-- <div class="form-group mt-2">
          <label for="confirmPassword">Confirm Password</label>
          <input formControlName="confirmPassword" id="confirmPassword" type="text" class="form-control">
        </div> -->
        <div class="container">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
      <div class="mt-5">
        <p v-show="!showLogin" class="text-center">
          Do you already have an account?
          <a class="text-success" (click)="show()">Login here</a>
        </p>
      </div>
    </div>
    </div>
</div>