.post {
  margin: 0 40px;
}
h2 {
  margin: 20px 0;
}
h5 {
  margin: 10px 0;
}
.conten {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
img {
  width: 100px;
  height: 100px;
}
p {
  margin-left: 20px;
}
button {
  position: absolute;
  bottom: 0;
  right: 0;
}
ul {
  width: 75%;
}