.post {
  margin: 0 40px;
}
h2 {
  margin: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
    margin: 10px 0;
  }
  button {
    margin-left: 5px;
  }
}