.ReadPost {
  margin: 0 40px;
  width: 75%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h5 {
  margin: 10px 0;
}
img {
  display: block;
  margin-bottom: 16px;
}
.edit {
  text-align: right;
  width: 75%;
}
button {
  margin: 0 20px 10px 0;
}